@import "grid";

html {
  font-size: 16px;
  height: 100%;
}

body {
  min-height: 100%;
  .mixin-flex-display();
  .mixin-flex-direction(column);
  .mixin-flex(1 1 100%);
}

main {
  min-height: 100%;
  .mixin-flex-display();
  .mixin-flex-direction(column);
  .mixin-flex(1 1 auto);

  &.loading {
    -webkit-filter: blur(.25em);
    filter: blur(.25em);
  }
}

.main__inner-wrapper {
  .mixin-flex(1 0 auto);
  padding: 0 30px;

  @media (max-width: @screenSmMax) {
    padding: 0 20px;
  }

  @media (max-width: @screenXsMax) {
    padding: 0 10px;
  }
}

footer {
  .mixin-flex-shrink(0);
}

.vmb-loader {
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  display: none;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__logo {
    width: 131px;
    height: 256px;

    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: url(~"@{vmb-image-path}VM_BLUE_logo.svg") no-repeat center center;
      background-size: 100%;
      -webkit-animation: breathing 2s infinite alternate ease;
      animation: breathing 2s infinite alternate ease;
    }
  }
}

@-webkit-keyframes breathing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes breathing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn--loading {
  -webkit-animation: breathing 1s 3s alternate ease;
  animation: breathing 1s 3s alternate ease;
}

.tooltip {
  border-bottom: none;
}

.vmb-tooltip-block {
  display: inline-block;
  height: 100%;
}

#asmHover {
  top: 40px;
}

.ui-datepicker .ui-state-highlight.ui-state-active {
  border-color: #003eff;
}

.ui-datepicker .ui-state-highlight:not(.ui-state-active) {
  border-color: #c5c5c5;
  background-color: #f2f2f2;
  text-align: center;
  color: #454545;
}

.form-group {
  &.has-error {
    .select2-container--default, .select2-selection--single {
      border-color: @input-error;
    }
  }
}

.glyphicon-text-vmk-styling {
  font-family: @font-family-sans-serif;
  line-height: 1.42857143;
}