.vmb-grid{
  .mixin-flex-display;
  .mixin-flex-wrap(wrap);

  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-gap: 15px;
  padding: 15px;


  -ms-grid-columns: ~"minmax(250px, 1fr) 15px minmax(250px, 1fr) 15px minmax(250px, 1fr) 15px minmax(250px, 1fr)";
  grid-template: auto / repeat(4, minmax(275px, 1fr));

  @media (max-width: @screenMdMax){
    -ms-grid-columns: ~"minmax(250px, 1fr) 15px minmax(250px, 1fr) 15px minmax(250px, 1fr)";
    grid-template: auto / repeat(3, minmax(275px, 1fr));
  }

  @media (max-width: @screenSmMax){
    -ms-grid-columns: ~"minmax(250px, 1fr) 15px minmax(250px, 1fr)";
    grid-template-columns: repeat(2, minmax(275px, 1fr));
  }

  @media (max-width: @screenXsMax){
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .vmb-product-item{
    width: 275px;
    margin: 0 auto;
  }

}