@media (min-width: 767px) {
  #asm-customer360-activity-table th:first-child,
  #asm-customer360-activity-table td:first-child {
    width: 10% !important;
  }

  #asm-customer360-activity-table th:nth-child(2),
  #asm-customer360-activity-table td:nth-child(2) {
    width: 11% !important;
  }

  #asm-customer360-activity-table th.status {
    width: 17% !important;
  }
}