.vmb-addressbook{

  .card{
    .pull-left:first-child{
      width: 90%;
    }
  }
}

.vmb-addressbook-edit{
  .back-link{
    padding: 10px 0 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid @border-color-2;
  }

  &__form{
    margin: 0 10px;
  }
}

#vmbDeleteAddressModal{
  .address{
    margin-top: 15px;
  }
}