.vmb-product-carousel-component {

  &__title{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid @border-color-2;

    .headline{
      display: inline-block;
      margin-top: 0;
      max-width: ~"calc(100% - 60px)";
    }
    .nav{
      float: right;
    }
  }

  &.one{
    max-width: 300px;
    display: inline-block;

    @media (max-width: @screenXsMax){
      display: block;
      margin: 0 auto;
    }
  }

  .swiper-container {
    .vmb-product-item {
      margin: 0 auto;
      max-height: 350px;

      &__variants {
        padding: 6px 12px;
        font-size: 14px;
      }
    }
  }
}



.swiper-container{
  &:not(.swiper-container-initialized){
    .swiper-wrapper{
      display: none;
    }

    height: 200px;

    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 150px;
      background: url(~"@{vmb-image-path}VM_BLUE_logo.svg") no-repeat center center;
      background-size: contain;
      -webkit-animation: breathing 2s infinite alternate ease;
      animation: breathing 2s infinite alternate ease;
    }
  }
}

.vmb-product-item {
  height: 350px;

    &__name {
      height: 60px;
      display: table-cell;
      vertical-align: bottom;
    }

    &__thumb {
     width: 100%;
     max-height: 200px;
    }
}

