@import "account/savedcart";
@import "account/addressbook";

.account-section{
  width: 100%;

  .pagination-bar{
    margin: 30px 0;

    &.top{
      margin-top: 0;
      .pagination-toolbar{
        padding-top: 0;
        border-bottom: 1px solid @border-color-3;

        .sort-refine-bar{
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    &.bottom{
      margin-top: 0;
      .pagination-toolbar{
        padding-top: 30px;
        border-top: 1px solid @border-color-3;

        .sort-refine-bar{
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .pagination-bar-results{
      border:none;
      padding-top: 0;
      padding-bottom: 0;
    }

  }

  h1{
    margin-left: 20px;
  }

}