@import "cart/minicart";
@import "cart/addtocart";

.navigation--middle .nav-cart {

  .mini-cart-icon {
    float: none;
    display: inline-block;
    top: 5px;

    .glyphicon-shopping-cart {

      @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
        margin-left: 0;
      }
    }
  }

  .mini-cart-count {
    background-color: @mini-cart-count-badge;
    display: inline-block;
    float: none;
    position: absolute;
    top: 7px;
    right: 0;

    &:before, &:after {
      content: none;
    }
  }

  @media (max-width: @screenXsMax) {
    .mini-cart-link .mini-cart-count {
      top: 10px;
      right: initial;
    }
  }

}

.vmb-cart-empty {
  padding: 0 30px;

  .content {
    margin: 0;
    width: 100%;
  }
}

.vmb-cart-table {
  table-layout: fixed;

  thead {
    .vmb-cartitem {

      &__info {
        width: 40%;
      }

      &__image {
        width: 5%;
      }

      &__quantity {
        width: 5%;
        text-align: center;
      }

      &__stock-warehouse {
        background: url(~"@{vmb-image-path}vmb_stock_store.png") no-repeat center center;
        background-size: auto 75%;
        height: 45px;
        width: 5%;
      }

      &__stock-tec {
        font-size: 30px;
        text-align: center;
        height: 45px;
        width: 5%;
        padding-right: 10px;
        top: 1px;
      }

      &__price, &__nettoprice, &__total, &__deliveryDate {
        width: 7%;
        text-align: center;
      }

      &__remove {
        width: 5%;
      }

      &__wishlist {
        vertical-align: bottom;

        > input {
          margin-bottom: 0;
        }
      }
    }
  }

  tbody {

    .vmb-cartitem {

      &__info {
        vertical-align: middle;

        .name {
          color: @brand-primary;
          font-weight: bold;
          cursor: pointer;

          &:hover {
            color: @link-hover-color;
          }
        }

        .code {
          .vmb-sku();
        }
      }

      &__image {
        width: 75px;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      &__stock-warehouse, &__stock-tec {
        vertical-align: middle;
        text-align: center;
      }

      &__wishlist {

        input {
          margin-bottom: 0;
        }
      }

      &__quantity {
        vertical-align: middle;

        input {
          text-align: right;
          padding-right: 6px;
        }
      }

      &__price, &__nettoprice, &__total, &__deliveryDate {
        vertical-align: middle;
        text-align: center;
      }

      &__menu {
        vertical-align: middle;
        text-align: center;

        form {
          display: inline-block;
        }

        .remove-text {
          display: none;
        }
      }
    }
  }

  @media (max-width: @screenSmMax) {
    display: block;

    thead {
      display: none;
    }

    tbody {
      display: block;

      .vmb-cartitem {

        &__image {
          text-align: center;
          width: 150px;
          position: absolute;
        }

        &__quantity {
          width: ~"calc(100% - 150px)";

          &::before {
            content: attr(data-label);
            display: inline-block;
            margin-right: 5px;
          }

          form {
            display: inline-block;
          }

          input {
            text-align: right;
            width: 100px;
            height: 32px;
            padding: 6px 12px;
          }
        }

        &__stock-warehouse {
          height: 45px;
          width: ~"calc(100% - 150px)";
          text-align: left;

          &:before {
            background: url(~"@{vmb-image-path}vmb_stock_store.png") no-repeat center center;
            background-size: auto 75%;
            content: " ";
            height: 35px;
            width: 35px;
            display: inline-block;
          }

          .vmb-stock-status {
            top: -7px;
          }
        }

        &__stock-tec {
          height: 45px;
          width: ~"calc(100% - 150px)";
          text-align: left;
          .mixin-flex-display();
          .mixin-align-items(center);

          &:before {
            background: url(~"@{vmb-image-path}vmb_stock_tec.png") no-repeat center center;
            background-size: auto 75%;
            content: " ";
            height: 35px;
            width: 35px;
            display: inline-block;
          }

          .vmb-stock-status, .vmb-stock-info {
            margin-left: 8px;
          }
        }

        &__price, &__total, &__nettoprice, &__deliveryDate {
          &::before {
            content: attr(data-label);
            display: inline-block;
            margin-right: 5px;
          }
        }

        &__menu {
          margin-top: -50px;
          text-align: right;

          button {
            display: inline-block;
          }

          .glyphicon {
            margin-right: 5px;
          }

          .remove-text {
            display: inline-block;
          }
        }
      }
    }

    tr {
      display: block;
      margin: 5px 0;
      border-bottom: 1px solid @border-color-2;
      position: relative;
    }

    td {
      display: block;
      border-top: none !important;

      &:not(.vmb-cartitem__image) {
        margin-left: 150px;
      }
    }

  }

  @media (max-width: @screenXsMax) {
    tbody {

      .vmb-cartitem {

        &__image {
          text-align: center;
          width: 100%;
          position: relative;

          img {
            max-width: 150px;
          }
        }

        &__quantity {
          width: 100%;
        }

        &__stock-warehouse {
          height: 45px;
          width: 100%;
        }

        &__stock-tec {
          height: 45px;
          width: 100%;
        }

        &__menu {
          margin-top: 0;
          text-align: right;
        }
      }
    }

    td {

      &:not(.vmb-cartitem__image) {
        margin-left: 0;
      }
    }
  }

}

.vmb-cart-totals {
  background-color: @border-color-2;
  padding: 20px;

  .cart-totals-divider {
    padding: 10px 60px 0 50px;

    @media (max-width: @screenSmMax) {
      padding: 10px 30px 0 30px;
    }

    hr {
      margin: 0;
      border-color: @text-color;
    }
  }

  &__checkout {
    padding-right: 30px;
    margin-top: 1rem;
    text-align: right;

    @media (max-width: @screenSmMax) {
      padding-right: 20px;
    }
  }
}

#applyVoucherForm {
  .mixin-flex-display;
}

.cart-voucher {
  &__input {
    width: ~"calc(100% - 100px)";
    max-width: 300px;
  }
}

.cart__actions {
  margin-top: 1rem;
}

.cart-removal {
  &__btn-cancel {
    color: grey;
  }

  &__body {
    margin: 0;
  }

  &__header {
    margin: 7px;
    text-align: left;
  }
}