
.vmb-switch{
  position: relative;
  width: 74px;
  height: 38px;
  overflow: hidden;

  &__layer {
    width: 100%;
    background-color: @border-color;
    transition: 0.3s ease all;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid @border-color-2;
    border-radius: @vmb-border-radius;
  }

  &__knobs{
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &:before, &:after, span{
      position: absolute;
      top: 5px;
      width: 20px;
      height: 10px;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      line-height: 1;
      padding: 9px 4px;
      border-radius: @vmb-border-radius;
      transition: 0.3s ease all;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
    }

    &:before, &:after{
      color: @text-color;
      z-index: 1;
    }

    &:before{
      content: attr(data-yes);
      left: 4px;
    }

    &:after{
      content: attr(data-no);
      right: 4px;
    }

    span{
      width: 25px;
      left: 4px;
      background-color: @border-color-3;
      z-index: 2;
    }

  }

  &__checkbox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0;
    cursor: pointer;
    z-index: 3;

    &:checked + .vmb-switch__knobs span{
      left: 37px;
      background-color: @brand-primary;
    }

    &:checked ~ .vmb-switch__layer
    {
      background-color: @border-color;
    }

    &:disabled + .vmb-switch__knobs span{
      background-color: @border-color-2;
    }
  }

  &__label{
    margin: 0 10px;

    @media (max-width: @screenMdMax) {
      max-width: 85px;
    }
  }

  &__container{
    .mixin-flex-display();
    .mixin-align-content(center);
    .mixin-align-items(center);
    padding: 10px 0;
  }
}