.page-homepage header{
  margin-bottom: 20px;
}

.vmb-home-s1{
  .vmb-category-menu{
    padding-left: 0;
    width: 300px;
    background-color: #FFF;
    border: 1px solid @nav-cat-menu-border;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    list-style: none;
    border-radius: @btn-border-radius-base;
  }

  .childlevel1 .sub-menu{
    top: 0;
  }
}


[class*="vmb-home-s"] {
  padding: 0 15px 30px 15px;
}