.vmb-modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindex-modal * 100;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    .translate(0, -25%);
    .transition-transform(~"0.3s ease-out");
  }

  &.in .modal-dialog { .translate(0, 0) }

  .modal-body{
    max-height: 60vh;
    overflow-y: auto;
  }
}

.modal-open .vmb-modal {
  overflow-x: hidden;
  overflow-y: auto;
}

