.pagination{
  margin-top: 0;

  a{
    color: @text-color;

    &:hover{
      border-radius: @btn-border-radius-base;
    }
  }

  .active{
    background-color: @pagination-active-bg;
    border-radius: @btn-border-radius-base;
  }

}

.pagination-bar{
  &.top{
    margin-top: 0;

    .pagination-toolbar{
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 15px;
    }

    .pagination-bar-results{
      margin-top: 10px;
      padding-left: 0;
    }

    .pagination-wrap{
      margin-top: 15px;
      border-top: 1px solid @border-color-3;
    }

    .pagination{
      margin-top: 15px;
    }
  }

  &.bottom{
    margin-top: 0;

    .pagination-toolbar{
      padding: 10px;

      &.empty{
        border-bottom: none
      }

      .pagination{
        margin-top: 0;
      }
    }
  }

  button{
    margin-top: 0;

    @media (max-width: @screen-xs-max) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.pagination-wrap{
  float: none;
  text-align: center;
}

@media (max-width: @screen-xs-max) {
  .pagination {
    display: block;
    width: 100%;

    > li {
      display: inline-block;
      vertical-align: middle;
      text-align: center;

      > a,
      > span {
        float: none;
      }
    }

  }

  .pagination-bar .pagination{
    border: none;
  }

}

.vmb-sort{
  text-align: right;
  .form-group{
    display: inline-block;
    select{
      height: auto;
      padding: 6px 12px;
    }
  }

  label {
    text-transform: initial;
    font-size: large;
    padding-right: 5px;
  }

  .vmb-switch-plp-view {
    font-size: x-large;
    vertical-align: middle;
    text-decoration: none;
    margin-right: 2px;
    margin-left: 2px;
    color: gray;

    .glyphicon-menu-hamburger {
      transform: translateY(5%);
    }
  }

  .color-disabled {
    color: @cyaan;
  }
}

.vmb-switch-plp-view:hover {
  color: @cyaan;
}


@media screen and (max-width: @screen-xs-max) {
  .vmb-sort .vmb-switch-plp-view {
    display: none;
  }

  #view_as_label {
    display: none;
  }
}