.vmb-product-main-info {
  .bundle {
    margin: 1rem 0;
  }
}

.vmb-product-variant-table {
  transition: opacity 500ms;

  &.init {
    opacity: 0;
  }

  &__container {
    margin-top: 15px;
    position: relative;
  }

  &.table-condensed {
    > tbody > tr {
      > td {
        vertical-align: middle;
      }
    }
  }

  @media (min-width: @screenMdMin) {
    .sku, .qty, .stock-warehouse, .stock-tec, .price, .net-price {
      position: absolute;
      background-color: white;
    }

    .sku {
      left: 0;
      width: 100px;
    }

    .qty {
      right: 0;
      width: 150px;
    }

    .stock-warehouse, .stock-tec {
      width: 75px;
    }

    .price, .net-price {
      width: 100px
    }

    .net-price {
      right: 150px;
    }

    .price {
      right: 150px;
    }

    .stock-tec {
      right: 250px
    }

    .stock-warehouse {
      right: 325px;
    }

  }

  &__wrapper {

    @media (min-width: @screenMdMin) {
      margin: 0 400px 0 100px;
      overflow-x: auto;
      overflow-y: auto;
    }

    &.net-price-shown {

      @media (min-width: @screenMdMin) {
        margin-right: 500px;
        .net-price {
          right: 150px;
        }

        .price {
          right: 250px;
        }

        .stock-tec {
          right: 350px
        }

        .stock-warehouse {
          right: 425px;
        }
      }
    }

    &.diy-logged-in {

      @media (min-width: @screenMdMin) {
        margin-right: 325px;
        .net-price {
          right: 150px;
        }

        .stock-warehouse {
          right: 250px;
        }
      }
    }

    &.diy-anonymous {

      @media (min-width: @screenMdMin) {
        margin-right: 75px;

        .stock-warehouse {
          right: 150px;
        }
      }
    }
  }

  th {
    white-space: nowrap;
    height: 45px;

    &.sku {
      @media (min-width: @screenMdMin) {
        padding-top: 20px;
        top: 1px;
      }
    }

    &.stock-warehouse {
      color: black;
      text-align: center;
      font-size: 30px;
      height: 45px;
      width: 76px;
      top: 1px;
    }

    &.stock-tec {
      font-size: 30px;
      text-align: center;
      height: 45px;
      width: 75px;
      padding-right: 10px;
      top: 1px;
    }

    &.price, &.net-price {
      @media (min-width: @screenMdMin) {
        padding-top: 20px;
        top: 1px;
      }
    }

    &.qty {
      padding-right: 10px;

      @media (min-width: @screenMdMin) {
        padding-top: 20px;
        top: 1px;
      }
    }
  }

  td {
    white-space: nowrap;
    height: 45px;
    vertical-align: middle;

    @media (min-width: @screenMdMin) {
      &.sku, &.stock-warehouse, &.stock-tec, &.price, &.net-price {
        padding-top: 12px;
      }
    }

    &.qty {
      width: 150px;

      input {
        text-align: right;
      }
    }

    &.stock-warehouse {
      text-align: center;
      min-width: 76px;
    }

    &.stock-tec {
      text-align: center;
      min-width: 75px;
    }
  }

  tr:hover {
    cursor: pointer;

    td {
      background-color: @border-color;
    }
  }

  .active {
    td {
      background-color: @border-color;
    }
  }

  @media (max-width: @screenSmMax) {
    display: block;

    thead {
      display: none;
    }

    tbody {
      display: block;
    }

    tr {
      display: block;
      margin: 5px 0;
      border-top: 1px solid @border-color-2;
    }

    td {
      border-top: none !important;
      display: block;

      &::before {
        content: attr(data-label);
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 5px;
      }

      &.stock-warehouse {
        height: 45px;
        width: 100%;
        text-align: left;

        &::before {
          content: " ";
          background: url(~"@{vmb-image-path}vmb_stock_store.png") no-repeat center center;
          background-size: auto 75%;
          height: 35px;
          width: 35px;
        }

        .vmb-stock-status {
          top: -7px;
        }
      }

      &.stock-tec {
        width: 100%;
        height: 45px;
        text-align: left;

        &::before {
          content: " ";
          background: url(~"@{vmb-image-path}vmb_stock_tec.png") no-repeat center center;
          background-size: auto 75%;
          height: 35px;
          width: 35px;
        }

        .vmb-stock-status, .vmb-stock-info {
          top: -7px;
        }
      }

      &.qty {
        .mixin-flex-display;

        &::before {
          .mixin-flex(1 1 100%);
          padding: 12px 0px;
        }

        width: 100%;

        input {
          display: inline-block;
          width: 50%;
          text-align: right;
        }
      }

    }
  }

}

.vmb-product-variant-addtocart {
  text-align: right;
}

.vmb-image-container {
  position: relative;
}

.vmb-image-gallery {
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
}

.vmb-product--no-image {
  img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: @screenSmMax) {
  .vmb-image-gallery {
    margin-top: 10px;
    margin-right: 0;
  }
}

.vmb-reference-component {
  position: relative;
  padding: 0 30px;
  margin: 20px 0;

  @media (max-width: @screenSmMax) {
    padding: 0;
  }

  &__title {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid @border-color-2;

    .headline {
      display: inline-block;
      margin-top: 0;
    }

    .nav {
      float: right;
    }
  }

  .vmb-product-item {
    min-height: 350px;

    &__variants {
      padding: 6px 12px;
      font-size: 14px;
    }
  }
}

.vmb-product-variant-info {
  margin-top: 30px;

  .tabs {
    margin-top: 30px;

    @media (max-width: @screenSmMax) {
      margin-top: 0;
      margin-bottom: 30px;
    }

    .tabs-list {
      margin: 0;
    }

    .tabhead {
      outline: none;
    }

    .tabbody {
      background-color: transparent;
      border-top-color: @border-color-2;

      @media (min-width: @screenMdMin) {
        border-bottom: none;
      }
    }
  }
}
.product-logo-filters-container {
  overflow: hidden;
  margin-top: 10px;
  text-align: left;
  display: flex;

  .vmb-product-brandLogo {
    float: left;
    vertical-align: middle;
    align-self: center;
    margin: 0 10px;

    img {
      max-width: 100%;
    }

    @media (max-width: @screenSmMax) {
      position: relative;
      right: 0;
      top: 0;

      img {
        max-width: 100px;
      }
    }
  }

}

table.vmb-consists-of-table {

  tbody {
    td {
      vertical-align: middle;
    }
  }

  .name {
    a {
      color: @text-color;
    }
  }

  .quantity {
    text-align: center;
  }

  .price, .net-price {
    text-align: right;
  }

  @media (max-width: @screenSmMax) {
    display: block;

    thead {
      display: none;
    }

    tbody {
      display: block;

      tr {
        display: block;
        border-bottom: 1px solid @vmb-gray-2;


        td {
          .mixin-flex-display();
          .mixin-justify-content(space-between);
          border-top: none;

          &::before {
            content: attr(data-label);
            display: block;
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 5px;
          }
        }
      }

    }

  }

}

.vmb-documents {

  &-tabbody {
    padding: 0 30px !important;
  }

  &-table tbody {
    border-top: 0;

    tr {
      border-bottom: 1px solid #e5e5e5;

      td {
        border: 0;
        height: 45px;
        vertical-align: middle;
      }
    }
  }
}