.product__facet{
  border-right: none;
  padding-right: 30px;

  .facet{
    padding: 5px 0;
    border-bottom-style: dotted;

    &:last-child{
      border-bottom: none;
    }
  }

  @media (max-width: @screen-sm-max) {
    .facet{
      padding: 0 0 10px 0;

      &:last-child{
        border-bottom: none;
      }
    }
  }
}

.vmb-product-container{
  margin-bottom: 30px;
}

.vmb-plp-title {
  margin-left: 10px;
  margin-top: 0;
}

.product__list--wrapper{
  .results{
    h1{
      padding-left: 10px;
    }
  }
}

.vmb-plp-wrapper {
  .vmb-product-main-info {
    padding: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid @table-border-color;
  }
  .vmb-plp-list-product-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid @table-border-color;
    .btn {
      height: 43px;
      min-width: 180px;
    }
    .vmb-product-info-headline {
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      .product-title {
        margin-top: 0;
        margin-bottom: 0;
      }

      img {
        padding-right: 10px;
      }
    }
  }

  .vmb-plp-list-product-content {
    padding: 0 40px;
    .vmb-product-variant-table__container {
      margin-top: 20px;
      .vmb-product-variant-table {
        tbody {
          tr.active, tr {
            td {
              background-color: @table-data-bg-color;
            }
            @media (max-width: @screen-lg-min) {
              border-bottom: none;
            }
          }
        }
      }
    }
    @media (max-width: @screen-lg-min) {
      padding: 0;
    }
  }


  .vmb-product-variant-addtocart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    right: 0;
    padding: 15px;
    width: 100%;
    background-color: @sticky-buttons-bg-color;
    z-index: 999;
    .vmb-add-to-cart {
      margin-right: 5px;
    }
    @media (max-width: @screen-sm-min) {
      flex-direction: column;
      .product-action-buttons {
        order: 1;
      }
      button {
        width: 100%;
        margin: 5px 0;
      }
    }
    @media (max-width: @screen-sm-min) {
      justify-content: center;
    }
  }

  .product__list--wrapper {
    @media (min-width: @screen-md-min) {
      padding: 0;
      margin: 0;
    }
  }
}

