.vmb-product-table {

  thead {
    .vmb-productitem {

      &__image {
        width: 75px;
      }

      &__quantity {
        width: 100px;
        padding-right: 30px;
        text-align: right;
      }

      &__stock-warehouse {
        background: url(~"@{vmb-image-path}vmb_stock_store.png") no-repeat center center;
        background-size: auto 75%;
        height: 45px;
        width: 100px;
      }

      &__stock-tec {
        background: url(~"@{vmb-image-path}vmb_stock_tec.png") no-repeat center center;
        background-size: auto 75%;
        height: 45px;
        width: 100px;
        text-align: right;
        padding-right: 10px;
      }

      &__wishlist {
        vertical-align: bottom;

        > input {
          margin-bottom: 0;
        }
      }
    }
  }

  tbody {
    .vmb-productitem {

      &__info {
        vertical-align: middle;

        .name {
          color: @brand-primary;
          font-weight: bold;
          cursor: pointer;

          &:hover {
            color: @link-hover-color;
          }
        }

        .code {
          .vmb-sku();
        }
      }

      &__date {
        vertical-align: middle;
      }

      &__image {
        width: 75px;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      &__wishlist {
        vertical-align: middle;

        input {
          margin-bottom: 0;
        }
      }

      &__quantity {
        vertical-align: middle;
        width: 100px;
        text-align: right;

        input {
          text-align: right;
          padding-right: 6px;
        }

        .count {
          padding-right: 30px;
        }
      }

      &__stock-warehouse {
        vertical-align: middle;
        text-align: center;
      }

      &__stock-tec {
        vertical-align: middle;
        text-align: center;
      }

      &__price, &__nettoprice, &__total {
        vertical-align: middle;
      }

      &__menu {
        vertical-align: middle;
        text-align: right;
        padding-right: 20px;

        form {
          display: inline-block;
        }

        .remove-text {
          display: none;
        }
      }

      &__actions {

        .btn {
          margin-top: 13px;
        }
      }
    }
  }

  @media screen and (max-width: @screenSmMax) {
    display: block;

    thead {
      display: none;
    }

    tbody {
      display: block;

      .vmb-productitem {

        &__image {
          text-align: center;
          width: 150px;
          position: absolute;
        }

        &__info {
          width: ~"calc(100% - 150px)";
          margin-left: 150px;
        }

        &__quantity {
          width: ~"calc(100% - 150px)";
          margin-left: 150px;
          text-align: left;

          &::before {
            content: attr(data-label);
            display: inline-block;
            margin-right: 5px;
          }

          form {
            display: inline-block;
          }

          input {
            text-align: right;
            width: 100px;
            height: 32px;
            padding: 6px 6px 6px 12px;
          }
        }

        &__stock-warehouse {
          height: 45px;
          width: ~"calc(50% - 150px)";
          margin-left: 150px;
          text-align: left;

          &:before {
            background: url(~"@{vmb-image-path}vmb_stock_store.png") no-repeat center center;
            background-size: auto 75%;
            content: " ";
            height: 35px;
            width: 35px;
            display: inline-block;
          }

          .vmb-stock-status {
            top: -7px;
          }
        }

        &__stock-tec {
          height: 45px;
          width: 50%;
          text-align: left;

          &:before {
            background: url(~"@{vmb-image-path}vmb_stock_tec.png") no-repeat center center;
            background-size: auto 75%;
            content: " ";
            height: 35px;
            width: 35px;
            display: inline-block;
          }

          .vmb-stock-status, .vmb-stock-info {
            top: -7px;
          }
        }

        &__price {
          margin-left: 150px;
        }

        &__price, &__total, &__nettoprice {
          width: ~"calc(33% - 50px)";
          margin-bottom: 10px;

          &::before {
            content: attr(data-label);
            display: inline-block;
            margin-right: 5px;
          }
        }

        &__menu {
          margin-top: -50px;
          text-align: right;

          button {
            display: inline-block;
          }

          .glyphicon {
            margin-right: 5px;
          }

          .remove-text {
            display: inline-block;
          }
        }
      }
    }

    tr {
      display: block;
      margin: 5px 0;
      border-bottom: 1px solid @border-color-2;
      position: relative;
      .mixin-flex-display();
      .mixin-flex-flow(wrap);
    }

    td {
      display: block;
      border-top: none !important;
    }

  }

  @media screen and (max-width: @screenXsMax) {
    tbody {

      tr {
        .mixin-flex-display();
        .mixin-flex-flow(wrap);
        padding: 0 15px;
      }

      .vmb-productitem {
        &__info {
          width: 100%;
          text-align: center;
          margin-left: 0;
        }

        &__image {
          text-align: center;
          width: 100%;
          position: relative;

          img {
            max-width: 150px;
          }
        }

        &__quantity {
          width: 100%;
          margin-left: 0;
        }

        &__stock-warehouse {
          height: 45px;
          width: 50%;
          margin-left: 0;
          text-align: left;

          .vmb-stock-status {
            top: -7px;
          }
        }

        &__stock-tec {
          height: 45px;
          width: 50%;
          text-align: left;

          .vmb-stock-status, .vmb-stock-info {
            top: -7px;
          }
        }

        &__price, &__nettoprice, &__total {
          width: 33%;
          margin-left: 0;

          &:before {
            display: block;
          }
        }

        &__menu {
          margin-top: 0;
          text-align: right;
        }
      }
    }
  }

  @media print {
    display: block;

    thead {
      display: none;
    }

    tbody {
      display: block;

      .vmb-productitem {

        &__image {
          text-align: center;
          width: 150px;
          position: absolute;
        }

        &__info {
          width: ~"calc(100% - 150px)";
          margin-left: 150px;
        }

        &__quantity {
          width: ~"calc(100% - 150px)";
          margin-left: 150px;
          text-align: left;

          &::before {
            content: attr(data-label);
            display: inline-block;
            margin-right: 5px;
          }

          form {
            display: inline-block;
          }

          input {
            text-align: right;
            width: 100px;
            height: 32px;
            padding: 6px 6px 6px 12px;
          }
        }

        &__stock-warehouse {
          height: 45px;
          width: ~"calc(50% - 150px)";
          margin-left: 150px;
          text-align: left;

          .vmb-stock-status {
            top: 7px;
          }

        }

        &__stock-tec {
          height: 45px;
          width: 50%;
          text-align: left;

          .vmb-stock-status {
            top: 7px;
          }

        }

        &__price {
          margin-left: 150px;
        }

        &__price, &__total, &__nettoprice {
          width: ~"calc(33% - 50px)";
          margin-bottom: 10px;

          &::before {
            content: attr(data-label);
            display: inline-block;
            margin-right: 5px;
          }
        }

        &__menu {
          margin-top: -50px;
          text-align: right;

          button {
            display: inline-block;
          }

          .glyphicon {
            margin-right: 5px;
          }

          .remove-text {
            display: inline-block;
          }
        }
      }
    }

    tr {
      display: block;
      margin: 5px 0;
      border-bottom: 1px solid @border-color-2;
      position: relative;
      .mixin-flex-display();
      .mixin-flex-flow(wrap);
    }

    td {
      display: block;
      border-top: none !important;
    }

    .vmb-stock-text {
      top: 3px;
    }
  }

}