.searchEmptyPageMiddle-component{
  padding-right: 0;
  padding-left: 0;
}

.search-empty{
  text-align: left;
}

.searchSpellingSuggestionPrompt{
  margin-bottom: 1rem;
}


.site-search{
  ul.ui-menu{
    margin: 0;

    .auto-suggestion{
      &:last-child{
        border-bottom: solid 2px @border-color-2;
      }

      font-style: italic;
      text-transform: initial;
      color: @brand-secondary;
    }

    .product-result, .category-result{
      color: @brand-primary;
      .name > span{
        display: block;
        font-size: 12px;
        color: @text-color-secondary;
      }
      &:last-child{
        border-bottom: solid 2px @border-color-2;
      }
    }

    .ui-state-active{
      background-color: white;
      border: none;
      margin: 0;
    }

    .searchTips{
      padding-left: 10px;

      .search-data-searchTips{
        padding-left: 15px;
        li{
          display: list-item;
        }

        a{
          display: inline;
          color: @brand-primary;
          cursor: pointer;
          padding: 0;

          &:hover{
            color: @link-hover-color;
          }
        }
      }
    }

    .vmb-autocomplete-type{
      color: @text-color;
      font-size: 0.9rem;
      border: none;
      padding: 10px;
      font-weight: bold;
      display: inline-block;
    }

    .productResult{
      .vmb-autocomplete-type{
        text-align: left;
      }
    }
  }
}

.navigation--middle .nav__left .site-search ul.ui-autocomplete {
  display: flex;
  -webkit-flex:  0 1 auto;
  -ms-flex:  0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 10px;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

  li {
    border: none;

    .name {
      padding: 5px 10px
    }

    &.left {
      .mixin-flex(1 1 40%);

      div {

        ol {
          width: 100%;
          padding-left: 0;
          padding-right: 10px;
        }
      }
    }

    &.right {
      border-left: 1px solid @border-color-2;
     .mixin-flex(1 0 59%);

      .productResult {
        padding-left: 10px;
      }

      ol {
        width: 100%;
      }
    }

    &:not(.vmb-autocomplete-type):not(.vmb-search-showmore) {
      padding: 0;
    }


    a {
      padding: 15px 0;
      width: auto;
      min-width: 100%;
    }
  }

  ol {

    li {

      .thumb img {
        max-width: 30px;
        max-height: 30px;
      }

      a {
        &:first-child {
          padding-top: 0;
        }

        &:hover {
          .name, .price {
            background-color: @hover-background;
          }
        }

        .price {
          color: @text-color-secondary;
          white-space: nowrap;
        }
      }
    }
  }
}

.vmb-search-showmore{
  text-align: right;
  color: @brand-primary;
  cursor: pointer;
  padding: 10px 0;

  &:hover{
    color: @link-hover-color;
  }
}

.vmb-facets-reset{
  float: right;
  width: 24px;
  margin: 3px;

  svg{
    fill: @cyaan;
    width: 24px;
    height: 24px;
  }

  @media(max-width: @screen-sm-max){
    display: none;
  }
}