.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon {
  .flag-icon-background;
  position: relative;
  display: inline-block;
  width: 24px;
  line-height: 24px;
  &:before {
    content: '\00a0';
  }

  &.flag-icon--round{
    border-radius: 50%;
  }
}

.flag-icon(@country) {
  .flag-icon-@{country} {
    background-image: ~'url(@{flag-icon-css-path}/@{country}.svg)';
  }
}
