.vmb-addtocart-item{
  margin-bottom: 5px;
  padding: 5px 0;

  &:not(:last-child){
    border-bottom: 1px solid @border-color;
  }

  &__image{
    text-align: center;
    img{
      width: 100%;
      height: auto;
      max-width: 75px;
    }
  }

  &__details{
    padding: 10px 10px 10px 0;

    .alert{
      padding: 5px;
      margin-bottom: 10px;
    }

    .name{
      color: @brand-primary;
      font-weight: bold;
    }

    .code{
      font-size: 12px;
      color: @text-color-secondary;
      margin-bottom: 5px;
    }

    .quantity-price{
      span{
        font-weight: bold;
      }
    }
  }
}